<h1>Edit <%= @track.title %> </h1>

<%= render 'form' %>

<%= link_to 'Back', playlist_path(@track.playlist) %> |
<%= link_to 'Delete', track_path(@track), method: :delete, data: { confirm: 'Are you sure?' } %>